@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #FEFFFE;
}

h1 {
    font-family: "Roboto", sans-serif;
    color: #07004D;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 150%;
}

#menu {
    font-size: 90%;
    list-style-type: none;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#schedule {
    background-image: url(http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/dublin-city.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.timeline {
    color: black;
}